* {
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgba(230, 219, 174, 255);
}

.field-group {
    position: relative;
    display: inline-block;
}

.cool-input {
    border-color: rgba(165, 129, 95, 255);
    padding: 8px;
    border-radius: 50px;
}

.cool-label {
    background-color: white;
    color: rgba(165, 129, 95, 255);
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

ul {
    list-style: none;
}

h2 {
    color: rgba(165, 129, 95, 255);
    /* font-size: 12px; */
    font-weight: normal;
    /* text-decoration: underline; */
    /* text-transform: uppercase; */
    /* border: 3px solid pink; */
}

hr {
    border-color: rgba(165, 129, 95, 255);
    width: 95%;
}

.items-box {
    /* border: 3px solid #aaa; */
    background-color: yellow;
    display: flex;
    width: 100%;
    /* height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 30px; */
}

.customer-box {
    background-color: teal;
    display: flex;
    width: 100%;
    /* clear: right; */
}

.logo {
    display: inline;
    height: 30px;
    width: 30px;
}

.brown {
    background-color: rgb(72, 41, 23);
}

.main-row {
    display: flex;
    width: 100%;
}

body {
    background-color: whitesmoke;
}

button {
    border-radius: 5px;
    border: 0px;
    background-color: rgba(222, 185, 147, 255);
}

.card {
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    background-color: rgba(222, 185, 147, 255);
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}